h1 {
    color: rgb(54, 56, 194);
    }
h2 {
    color: brown;
}

p {
    color: rgb(1, 95, 95);
}

.eren {
        padding: auto;
        margin: auto;
        height: auto;
        width: 59.9%;
        
        
}